  
.head{
	position:absolute;
	top: 0;
	height:56px;
	left:0;
	right:0;
	line-height:56px;
	z-index:100010;
	color:#fff;
	font-size:14px;
	text-shadow:1px 1px 1px rgba(0,0,0,0.35), 1px 0 1px rgba(0,0,0,0.35);
	padding:0 6px;
}
.head .img{
}
.head .img:before{
}
.head .time{
	opacity:0.75;
	font-weight:500;
	font-size:13px;
}
.head .left{
	line-height: 1 !important;
	display:inline-block;
	margin:6px 0;
}
.head .left > div{
	display:inline-block;
	max-width:30vw;
	vertical-align:middle;
}
.head .left > div > *{
	width:100%;
	display:inline-block;
	line-height:21px;
}
.head .left > div > strong {
	font-weight: 500;
}
.head .right{
	float:right;
}
.head .right .close, .head .back {
	font-size:42px;
	width:48px;
	cursor: pointer;
	text-align:center;
}
.head .left > .back {
	display: none;
	width:24px;
	margin:-6px -6px 0 -6px
}
.head .right .time {
	display:none;
}
.head .loading {
	display:none;
	border-radius:50%;
	width:30px;
	height:30px;
	border:4px solid rgba(255,255,255,0.2);
	box-sizing: border-box;
	border-top-color:#FFF;
	-webkit-animation:zuckLoading 1s infinite linear;
	animation:zuckLoading 1s infinite linear;
}

video.video-react-video {
    height: 100vh !important;
}
.PlayButton,
.PauseButton,
.PrevButton,
.NextButton,
.SoundOnButton,
.SoundOffButton {
  margin-right: 10px;
  padding: 8px;
  background: rgba(0,0,0,0);
  border: 2px solid #FFF;
  border-radius: 100%;
  outline: none;
}
.PlayButton[disabled],
.PauseButton[disabled],
.PrevButton[disabled],
.NextButton[disabled],
.SoundOnButton[disabled],
.SoundOffButton[disabled] {
  opacity: 0.5;
}
.PlayButton.isEnabled,
.PauseButton.isEnabled,
.PrevButton.isEnabled,
.NextButton.isEnabled,
.SoundOnButton.isEnabled,
.SoundOffButton.isEnabled {
  cursor: pointer;
}
.PlayButton.isEnabled:hover,
.PauseButton.isEnabled:hover,
.PrevButton.isEnabled:hover,
.NextButton.isEnabled:hover,
.SoundOnButton.isEnabled:hover,
.SoundOffButton.isEnabled:hover {
  border-color: #3ea454;
}
.PlayButton.isEnabled:hover .Icon-shape,
.PauseButton.isEnabled:hover .Icon-shape,
.PrevButton.isEnabled:hover .Icon-shape,
.NextButton.isEnabled:hover .Icon-shape,
.SoundOnButton.isEnabled:hover .Icon-shape,
.SoundOffButton.isEnabled:hover .Icon-shape {
  fill: #FFF;
}
.PlayButton.isEnabled:active,
.PauseButton.isEnabled:active,
.PrevButton.isEnabled:active,
.NextButton.isEnabled:active,
.SoundOnButton.isEnabled:active,
.SoundOffButton.isEnabled:active {
  border-color: rgba(62, 164, 84, 0.5);
}
.PlayButton.isEnabled:active .Icon-shape,
.PauseButton.isEnabled:active .Icon-shape,
.PrevButton.isEnabled:active .Icon-shape,
.NextButton.isEnabled:active .Icon-shape,
.SoundOnButton.isEnabled:active .Icon-shape,
.SoundOffButton.isEnabled:active .Icon-shape {
  fill: rgba(62, 164, 84, 0.5);
}

.Icon {
  display: block;
  width: 30px;
  height: 30px;
}

.Icon-shape {
  fill: #FFF;
}

.ProgressBar,
.VolumeSlider {
  background: #585858;
  border-radius: 4px;
}
.ProgressBar-elapsed, .ProgressBar-value,
.VolumeSlider-value {
  background: #FFF;
  border-radius: 4px;
}
.ProgressBar-handle {
  position: absolute;
  width: 16px;
  height: 16px;
  background: #72D687;
  border-radius: 100%;
  transform: scale(0);
  transition: transform 0.2s;
}
.ProgressBar.isSeekable:hover .ProgressBar-handle,
.ProgressBar.isSeekable:hover .VolumeSlider-handle, .ProgressBar.isEnabled:hover .ProgressBar-handle,
.ProgressBar.isEnabled:hover .VolumeSlider-handle{
	transform: scale(1);
}
.ProgressBar.isSeekable:hover .ProgressBar-intent,
.ProgressBar.isSeekable:hover .VolumeSlider-intent, .ProgressBar.isEnabled:hover .ProgressBar-intent,
.ProgressBar.isEnabled:hover .VolumeSlider-intent
{
  position: absolute;
  background: rgba(0, 0, 0, 0.05);
}
.ProgressBar.isSeekable .ProgressBar-elapsed,
.ProgressBar.isSeekable .VolumeSlider-value, .ProgressBar.isEnabled .ProgressBar-elapsed,
.ProgressBar.isEnabled {
  background: #72D687;
}

.ProgressBar {
    height: 8px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.ProgressBar-elapsed {
  height: 100%;
}
.ProgressBar-seek {
  top: -6px;
  right: 0;
  bottom: -6px;
  left: 0;
}
.ProgressBar-handle {
  top: 0;
  margin: -4px 0 0 -8px;
}
.ProgressBar.isSeekable:hover .ProgressBar-handle {
  transform: scale(1);
}

.ProgressBar.isSeekable:hover .ProgressBar-intent {
  top: 0;
  left: 0;
  height: 100%;
}

.ProgressBar.isLoading {
  opacity: 0.5;
  background: #ccc;
  animation: barLoading 2s infinite;
}

.MuteToggleButton {
    z-index: 5;
	width: 35%;
}
