.LazyLoad {
  opacity: 0;
  transition: all 2s ease-in-out;

}


.LazyLoad.is-visible {
    opacity: 1;
 }

.filler {
  height: 150px;
}

.ScrollableContainer {
  height: 200px;
  overflow: scroll;
  background-color: grey;
}
