body {
	background: #333F4B;
	margin: 0;
	padding: 0;
}

*, *:before, *:after {
    box-sizing: unset;
}

a {
	text-decoration: none;
	margin-top: 2%; 
}

.swiper-container {
margin-left: 15px !important;
}

/*Yle specific: hide stuff from global header*/
.yle__global-header__actions {
    display: none;
}

